*{
    background-color: blanchedalmond;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    gap: var(--gap, 5rem);
}

.logo{
    width: 8rem;
    height: 8rem;
    margin: 38px 70px;
    background-color: transparent;
}

#books{
    color: blue;
}

#home:hover{
    color: blue;
}
#books:hover{
    color: blue;
}
#about:hover{
    color: blue;
}
#contact:hover{
    color: blue;
}

#social-media:hover{
    color: blue;
}

.button:hover{
    color: blue;
}


html{
    height: 100%;
}
body{
    min-height: 100%;
}

/*================================================== HEAD ==================================================*/
.pirmary-header{
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: auto;
    height: auto;
}

.primary-navigation a{
   text-decoration: none;
   padding: 15px;
   background-color: rgb(110, 110, 110);
   border-radius: 25px;
   color: white;
   height: auto;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 0;
    padding-right: 10rem;
}

.mainlogo{
    background-color: transparent;
}

.horizontal-line{
    display: inline-block;
    width: 80%;
    text-align: center;
    height: 2px;
    border: none;
    background-color: black;
}

.horizontal-line.b{
    width: 80%;
}
/*================================================== BODY ==================================================*/
.description{
    background-color: transparent;
    width: auto;
    height: auto;
    gap: 10px;
}

.profile{
    width: 10rem;
    height: 10rem;
    margin: 3rem 0rem;
    align-self: center;
}

.basic-info{
    list-style: none;
    background-color: transparent;
    padding: 0;
    height: auto;
    width: 20vw;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    align-content: center;
    text-align: center;

}

.basic-info li{
    background-color: transparent;
    
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.release{
    padding-top: 3rem;
    width: 100%;
    border-left: 2px solid black;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contents{
    display: flex;
    margin-top: 0.7rem;
    margin-right: 1rem;
    justify-content: center;
    height: auto;
    width: auto;
    
}

h1{
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}

h2{
    text-align: left;
    padding: 0rem 5rem;
}

p.intro{
    margin-top: 2rem;
    text-align: justify;
    font-style: italic;
    padding: 1rem 3rem;
    font-size: 1.2rem;
}

.text-column{
    padding-top: 0rem;
    
}

.refer{
    font-size: 1.2rem;
    text-align: right;
    padding: 1rem 5rem;
}

.book-cover{
    width: 20rem;
    
    height: 25rem;

    margin-left: 1rem ;
    /* margin-top: 3rem; */

    border-style: solid;
    border-width: 0.1rem;
}

.read{
    width: 100%;
    height: 85vh;
    background-color: rgb(255, 0, 0);
    text-align: center;
    
    
}

.readnow{
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #ff0000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:10px 50px;
    cursor: pointer;
    border-radius: 15px; 
}

/*================================================== footer ==================================================*/
.sticky-footer{
    margin-top: auto;
    position: sticky;
    top: 100%;
    background: #472828;
    color: rgb(156, 23, 23);
    padding: 3rem;
    height: 10rem;
    width: auto;
    text-align: center;
    font-size: 1.2rem;
    justify-content: center;
}

.footer-navigation{
    padding: 0;
    margin: 0;
    height: 0;

    padding-top: 2rem;
    align-items: center;
    list-style: none;
    justify-content: center;
    background: transparent;
    color: white;
    
}

.footer-navigation a{
    text-decoration: none;
    background: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-navigation li{
    background-color: transparent;
}

.icon{
    height: 50px;
    width: 50px;
    background: transparent;
}

/* medium */
@media (min-width: 35em) and (max-width: 60em){

    .pirmary-header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
    }

    .logo{
        width: 6rem;
        height: 6rem;
        margin: 0;
        background-color: transparent;
    }

    .primary-navigation {
      flex-direction: row;
      background-color:transparent;
      gap: 0rem 3rem;
      padding-right: 0rem;
    }

    .basic-info{
        width: 50%;
    }

    .profile{
        width: 10rem;
        height: 10rem;
        margin: 3rem 0rem;
    }

    .description{
        height: auto;
    }

    .contents{
        margin-top: 0rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    h2{
        text-align: center;
        padding: 0rem 1rem;
    }

    .text-column{
        padding-top: 0rem;
    }

    .release{
        padding-top: 2rem;

        border-left: 2px solid black;
        height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    p.intro{
        margin-top: 0rem;
        text-align: justify;
        font-style: italic;
        padding: 1rem 1rem;
        font-size: 1.2rem;
    }


    .book-cover{
        width: 15rem;
        height: 15rem;
        height: auto;
        margin: 0rem;
        border-style: solid;
        border-width: 0.1rem;
    }

    h1{
        display: block;
        height: auto;
    }

    /* =============footer========== */
    .footer-navigation{
        font-size: 1rem;
        --gap:1rem;
    }
    
    .icon{
        height: 35px;
        width: 35px;
        background: transparent;
    }
}

/* medium */

@media (max-width: 35em) {

    

    .pirmary-header{
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
    }

    h1{
        display: block;
        height: auto;
        padding-bottom: 0rem;
    }
    

    .logo{
        width: 8rem;
        height: 8rem;
        margin: 0;
        background-color: transparent;
    }

    .primary-navigation {
      flex-direction: row;
      gap: 1rem;
      padding-right: 0rem;
    }

    .primary-navigation a{
        text-decoration: none;
        padding: 8px;
        background-color: rgb(110, 110, 110);
        border-radius: 25px;
        color: white;
        height: auto;
    }

    
    .basic-info{
        display: none;
    }

    .profile{
        width: 7rem;
        height: 10rem;
        margin: 3rem 3rem;
    }

    .description{
        height: auto;
    }

    .contents{
        margin-top: 0rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    h2{
        text-align: center;
        padding: 0rem 1rem;
    }

    .text-column{
        padding-top: 0rem;
    }

    .release{
        padding-top: 2rem;

        border-left: 2px solid black;
        height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    p.intro{
        margin-top: 0rem;
        text-align: justify;
        font-style: italic;
        padding: 1rem 1rem;
        font-size: 1.2rem;
    }


    .book-cover{
        width: 15rem;
        height: 15rem;
        height: auto;
        margin: 0rem;
        border-style: solid;
        border-width: 0.1rem;
    }

    h1{
        display: block;
        height: auto;
    }

    /* footer */

    .sticky-footer{
        position: sticky;
        top: 100%;
        height: auto;

    }
    .footer-navigation{
        flex-direction: row;
        flex-wrap: wrap;
        --gap:1.2rem;
        background-color: #472828;
        font-size: 12px;
        column-count: 2;
        padding: 0%;
        height: auto;
        
    }

    .icon{
        height: 20px;
        width: 20px;
    }
}


