*{
    background-color: blanchedalmond;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    gap: var(--gap, 5rem);
}

.logo{
    width: 8rem;
    height: 8rem;
    margin: 38px 70px;
    background-color: transparent;
}

#books{
    color: blue;
}

#home:hover{
    color: blue;
}
#books:hover{
    color: blue;
}
#about:hover{
    color: blue;
}
#contact:hover{
    color: blue;
}

.button:hover{
    color: blue;
}

#social-media:hover{
    color: blue;
}

html{
    height: 100%;
}
body{
    min-height: 100%;
}

/*================================================== HEAD ==================================================*/
.pirmary-header{
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: auto;
    height: auto;
}

.primary-navigation a{
   text-decoration: none;
   padding: 15px;
   background-color: rgb(110, 110, 110);
   border-radius: 25px;
   color: white;
   height: auto;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 0;
    padding-right: 10rem;
}

.mainlogo{
    background-color: transparent;
}

.description{
    background-color: transparent;
    width: auto;
    height: 100%;
    gap: 10px;
    padding-bottom: 2rem;
}

.profile{
    width: 10rem;
    height: 10rem;
    margin: 5rem 5rem;
}

.basic-info{
    list-style: none;
    background-color: transparent;
    padding: 0;
    height: auto;
    width: 25vw;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;

}

.basic-info li{
    background-color: transparent;
    
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.book{
    width: min(100%, 75%);
    height: 100%;
    margin: 0% 15%;
    
}

.read{
    display: flex;
    width: 100%;
    height: 85vh;
    background-color: transparent;
    border-left: solid 1px;
    border-radius: 15px;
}

/*================================================== footer ==================================================*/
.sticky-footer{
    margin-top: auto;
    position: sticky;
    top: 100%;
    background: #472828;
    color: rgb(156, 23, 23);
    padding: 3rem;
    height: 10rem;
    width: auto;
    text-align: center;
    font-size: 1.2rem;
    justify-content: center;
}

.footer-navigation{
    padding: 0;
    margin: 0;
    height: 0;

    padding-top: 2rem;
    align-items: center;
    list-style: none;
    justify-content: center;
    background: transparent;
    color: white;
    
}

.footer-navigation a{
    text-decoration: none;
    background: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-navigation li{
    background-color: transparent;
}

.icon{
    height: 50px;
    width: 50px;
    background: transparent;
}

/* medium */
@media (min-width: 35em) and (max-width: 60em){
    .pirmary-header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
    }

    .logo{
        width: 8rem;
        height: 8rem;
        margin: 0;
        background-color: transparent;
    }

    .primary-navigation {
      flex-direction: row;
      gap: 1rem 5rem;
      padding-right: 0rem;
    }

    .basic-info{
        display: none;
        width: 50%;
    }

    .book{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    .read{
        flex-wrap: wrap;
        width: 100%;
        height: 85vh;
    }

    .footer-navigation{
        font-size: 1rem;
        --gap:1rem;
    }
    
    .icon{
        height: 35px;
        width: 35px;
        background: transparent;
    }
}

/* medium */

@media (max-width: 35em) {

    

    .pirmary-header{
        flex-wrap: wrap;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
    }

    h1{
        margin-bottom: 3rem;
        height: auto;
    }
    

    .logo{
        width: 8rem;
        height: 8rem;
        margin: 0;
        background-color: transparent;
    }

    .primary-navigation {
      flex-direction: row;
      gap: 1rem;
      padding-right: 0rem;
    }

    .primary-navigation a{
        text-decoration: none;
        padding: 8px;
        background-color: rgb(110, 110, 110);
        border-radius: 25px;
        color: white;
        height: auto;
     }

    .basic-info{
        display: none;
    }

    .contents{
        flex-direction: column;
        margin-top: 0.7rem;
        justify-content: center;
        align-items: center;
        
    }

    .release{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        border-left: 2px solid black;
        height: 100vh;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    p.intro{
        margin-top: 2rem;
        text-align: justify;
        font-style: italic;
        padding: 1rem 1rem;
        font-size: 1.2rem;
    }


    .book-cover{
        width: 15rem;
        height: 20rem;
        margin: 1rem ;
        border-style: solid;
        border-width: 0.5rem;
    }

    .book{
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .read{
        flex-wrap: wrap;
        width: 100%;
        height: 85vh;
    }

    /* footer */

    .sticky-footer{
        position: sticky;
        top: 100%;
        height: 10rem;
    }
    .footer-navigation{
        flex-direction: row;
        flex-wrap: wrap;
        --gap:1.2rem;
        background-color: #472828;
        font-size: 12px;
        column-count: 2;
        padding: 0%;
        
    }

    .icon{
        height: 20px;
        width: 20px;
    }
}


